html,body,main{
         
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  
}
table,th,td{
    border: 2px solid black;
}
table{
       width: 50%;
       height: 50%;
       text-align: center;
       margin:100px auto;

}
.Header-one{
    background-color: brown;
}
.Header-two{
    background-color: seagreen;
}
.Header-three{
    background-color: yellowgreen;
}
.Header-four{
    background-color: blue;
}
 